form{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}

#labelSignUpUserName{
  margin: 2px;
  grid-area: 1 / 1 / 2 / 2;
}

#inputSignUpUserName{
  margin: 2px;
  grid-area: 1 / 2 / 2 / 3;
}

#labelSignUpFirstname{
  margin: 2px;
  grid-area: 2 / 1 / 3 / 2;
}

#inputSignUpFirstName{
  margin: 2px;
  grid-area: 2 / 2 / 3 / 3;
}

#labelSignUpLastname{
  margin: 2px;
  grid-area: 3 / 1 / 4 / 2;
}

#inputSignUpLastName{
  margin: 2px;
  grid-area: 3 / 2 / 4 / 3;
}

#labelSignUpEmail{
  margin: 2px;
  grid-area: 4 / 1 / 5 / 2;
}

#inputSignUpEmail{
  margin: 2px;
  grid-area: 4 / 2 / 5 / 3;
}

#labelSignUpPassword{
  margin: 2px;
  grid-area: 5 / 1 / 6 / 2;
}

#inputSignUpPassword{
  margin: 2px;
  grid-area: 5 / 2 / 6 / 3;
}

#buttonSignUpSaveUser{
  margin: 2px;
  grid-area: 6 / 1 / 7 / 3;
}
