#div_main{
  background-image: url('/assets/Z.JPG');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -21px;
  height: 100%;
  color: white;
  clip-path: polygon(10% 0, 100% 0, 90% 100%, 0% 100%);
  filter: brightness(70%);
}
